/* GENERAL STYLES */
* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
  background-size: cover;
}

/* MAIN DIV STYLES */
.main {
  width: 20%;
  margin: 0 40%;
  border-radius: 20%;
}

#attackButton {
  background: rgba(222, 222, 222, 0.35);
  color: #eee;
}

.nameSelectInput {
  padding: 10px;
}
.selectorCard {
  color: #eee;
  border: 2px solid black;
  border-radius: 15px;
  background: rgba(79, 37, 240, 0.35);
}

/* SECTION STYLES */
.card {
  color: #eee;
  height: 300px;
  background: rgba(63, 92, 204, 0.35);
  border: 2px solid black;
  border-radius: 25px;
}

.attack-card {
  color: #eee;
  background: rgba(208, 131, 68, 0.35);
  border: 2px solid black;
  border-radius: 25px;
}

.display-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.header {
  font-size: 2em;
  text-align: center;
}
